/*fond (bleu) : #3e5c76
 couleur (rose) : #8f2d56 */
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html{
    background: linear-gradient(to bottom right, #3e5c76, #24405a);
    min-height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    margin: auto;
    color: white;
}
section{
    margin: 50px;
}

/* ------------------- HEADER ------------------- */

header{
    display: flex;
    justify-content: space-between;
}

#logoTitle a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
#logoTitle img {
    max-width: 250px;
}

nav ul{
    list-style: none;
    text-transform: uppercase;
    text-align: right;
    vertical-align:middle;
}

nav li{
    display: inline-block;
    margin-left: 7px;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.66);
    font-weight: 500;
    font-size: 20px;
}

nav a:hover{
    color: #ffffff;
}

.user_date{
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}
/* ------------------- MESSAGES FLASH ------------------- */
.messageFlash{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    align-content: center;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    color: #8f2d56;
    border-bottom: solid 5px #8f2d56;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
/* ------------------- TITRES ------------------- */

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}


/* ------------------- FILTRES ------------------- */

fieldset{
    border: solid 1px white;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 900px;
}

label{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

select{
    border: none;
    border-bottom: solid 2px #8f2d56;
    background-color: transparent;
    color: #ffffff;
}

select option {
    background-color: #8f2d56;
    color: white;
}

input{
    border: none;
    border-bottom: solid 2px #8f2d56;
    background-color: transparent;
    color: white;
}

input::placeholder{
    color: white;
}

#filtresContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#filtresContainer>div{
   margin: 15px;
}

.filtreLabels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 20%;

    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.filtreCampus input{
    background-color: red;
}

.check{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
#checkInscriptions{
    flex-basis:33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 180px;
}
#checkInscriptions label {
    font-size: 16px;
    font-weight: 400;
}

#checkOrgaPassees{
    flex-basis:33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 180px;
}

#checkOrgaPassees label {
    font-size: 16px;
    font-weight: 400;
}

#boutonFiltreContainer {

}

#boutonFiltre{

}

/* ------------------- LE TABLEAU ------------------- */


table{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.header_tab{
    background-color: rgb(143, 45, 86);
}
.contenu_tab{
    height:400px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
tr {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(238, 238, 238, 0.15);
}
tr:nth-child(odd) {
   
}


td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
.sortieNom{
    font-weight: 500;
    font-size: 16px;
}

td a{
    text-decoration: none;
    color: #fff;
}
#boutonTabContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boutonTab{
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.85));
    text-decoration: none;
    color: #8f2d56;
    padding: 7px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 2px;
    height: 15px;
}
.boutonCreationSortie{
    display: flex;
    justify-content: center;
}
/* ------------------- SCROLLBAR ------------------- */

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(12, 39, 64);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 60px rgb(143, 45, 86);
}


/* ------------------- LES BOUTONS ------------------- */

.boutonMain{
    background: linear-gradient(to top right, rgb(143, 45, 86), rgb(113, 27, 63));
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-weight: 500;
    font-size: 22px;
    border: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}



/* ------------------- DETAILS (sortie, user) ------------------- */
#liste-afficheProfilContainer{
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(-2deg);
    box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.72);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-top: 50px;
    border-radius: 35px;
    border: solid 7px #8f2d56;
}

#carteAfficheProfil{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#liste-afficheProfilContainer h1{
    color: #222222;
    margin: 0px;
    font-size: 35px;
}

#photo-afficheProfil img{
    width: 170px;
    max-height: 400px;
    flex-basis:20%;
}

#liste-afficheProfil{
    list-style: none;
    margin: auto;
    padding: 45px;
    color: #222222;
    flex-basis:70%;
}

#liste-afficheProfil div{
    display: inline-block;
}

#liste-afficheProfil li{
    display: flex;
    margin-top: 8px;
    margin-top: 8px;
    border-bottom: solid 1px dimgray;
}


.label-afficheProfil{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    flex-basis:50%;
}


.champ-afficheProfil{
    font-size: 22px;
    flex-basis:50%;
}

#boutonModifierProfil {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
}


/* ------------------- MODIFIER PROFIL ------------------- */
#carteAfficheProfil label {
    color: #222222;
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}
#carteAfficheProfil input{
    border: none;
    background-color: transparent;
    color: #222222;
    font-size: 22px;
}

/* ------------------- INFORMATIONS DU CREATEUR ------------------- */

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}
.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.made-with-love a {
    color: #fff;
    text-decoration: none;
}
.made-with-love a:hover {
    text-decoration: underline;
}


/* ------------------- GEOCODER ------------------- */

#geocoder {
    padding-bottom:10px;
}
