/*fond (bleu) : #3e5c76
 couleur (rose) : #8f2d56 */
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#baseHTML{
    min-height: 100%;
   background: linear-gradient(to bottom right, #3e5c76, #24405a);
}

html {
    background: linear-gradient(to bottom right, #3e5c76, #24405a);
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;*/
    min-height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

#body{
    max-width: 1400px;
    margin: auto;
    color: white;
}

section{
    margin: 50px;
}

/* ------------------- LOGIN ------------------- */
#loginFullPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

#loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 5px white;
    padding: 50px;
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

}

#logoLogin {
    width: 70%;
    margin-bottom: 50px;
}

#logoLogin img{
    max-width: 100%;
}

#loginContainer label{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}

#loginContainer input{
    font-size: 22px;
    font-weight: 400;
    border: none;
    border-bottom: solid 3px #ffffff;
    background-color: transparent;
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;

}
.form-control{
    width: auto;
}

#txtCookie{
    display:none;
}

#logionCheckTxt{
    max-width: 600px;
    font-size: 13px;
    font-weight: 400;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#loginContainer a:link {
    color: white;
}
#loginContainer a:visited {
    color: white;
}

.login-erreur {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;

}

.boutonLogin{
    text-decoration: none;
    background: transparent;
    border: solid 3px white;
    padding: 15px;
    font-weight: 500;
    font-size: 22px;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.boutonLogin:hover {
   background-color: rgba(255, 255, 255, 0.61);
}

.btn {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
    box-shadow: none;
    border: none;
    outline:none;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
//stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}
/* ------------------- HEADER ------------------- */

header{

    /*background-color: #ffffff;*/
    width: 100%;
}

#insideHeader{
    display: flex;
    justify-content: space-between;
}
#logoTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#logoTitle img {
    max-width: 200px;
}

#nav_User{
    margin-right: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

nav ul{
    list-style: none;
    text-transform: uppercase;
    text-align: right;
    vertical-align:middle;
    margin-top: 20px;
    margin-right: 0px;
}

nav li{
    display: inline-block;
    margin-left: 7px;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.66);
    font-weight: 500;
    font-size: 20px;
}

nav a:hover{
    color: #ffffff;
}

.user_date{
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 0px;
    margin-right: 10px;
}
/* ------------------- MESSAGES FLASH ------------------- */
.messageFlash{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    align-content: center;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    color: #23a6d5;
    border-bottom: solid 5px #23a6d5;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}



/* ------------------- TITRES ------------------- */

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}


/* ------------------- FILTRES ------------------- */

fieldset{
    border: solid 3px white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 900px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
}

label{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

select{
    border: none;
    border-bottom: solid 2px #ffffff;
    background-color: transparent;
    color: #ffffff;
}

select option {
    background-color: #ffffff;
    color: #23a6d5;
}

input{
    border: none;
    border-bottom: solid 2px #ffffff;
    background-color: transparent;
    color: white;
    outline:none;
}

input::placeholder{
    color: white;
}

#filtresContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#filtresContainer>div{
   margin: 15px;
}

.filtreLabels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 20%;

    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.filtreCampus input{
    background-color: red;
}

.check{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
#checkInscriptions{
    flex-basis:33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 180px;
}
#checkInscriptions label {
    font-size: 16px;
    font-weight: 400;
}

#checkOrgaPassees{
    flex-basis:33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 180px;
}

#checkOrgaPassees label {
    font-size: 16px;
    font-weight: 400;
}

#boutonFiltreContainer {

}

#boutonFiltre{
    outline:none;
    padding: 8px;
    font-weight: 400;
    font-size: 20px;
}

/* ------------------- LE TABLEAU ------------------- */


table{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.header_tab{
    background-color: rgb(255, 255, 255);
}
.contenu_tab{
    height:400px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #23a6d5;
    text-transform: uppercase;
}
tr {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(238, 238, 238, 0.15);
}
tr:nth-child(odd) {
   
}


td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
.sortieNom{
    font-weight: 500;
    font-size: 16px;
}

td a{
    text-decoration: none;
    color: #fff;
}

/* ------------------- LES BOUTONS DU TABLEAU ------------------- */


#boutonTabContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boutonTab{
    background-color: #23a6d5;
    text-decoration: none;
    color: #ffffff;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 2px;
    border-radius: 5px;
}

.boutonTab:hover{
    background-color: #23d5ab;
}

#boutonTabAfficher{

}
#boutonTabPublier{

}
#boutonTabAnnuler{
    background-color: #de1818;
    color: #ffffff;
}

#boutonTabModifier{

}

#boutonTabInscrire{

}

#boutonTabDesister{

}

.boutonCreationSortie{
    display: flex;
    justify-content: center;
}
/* ------------------- SCROLLBAR ------------------- */

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(8, 31, 52);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 60px rgb(255, 255, 255);
}


/* ------------------- DETAILS USER ------------------- */
#liste-afficheProfilContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.85)),
    url("../img/Tropical-Branch.jpg");
    background-size: cover;
    transform: rotate(-2deg);
    box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.72);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-top: 50px;
    border-radius: 35px;
    border: solid 7px #ffffff;
}

#carteAfficheProfil{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#liste-afficheProfilContainer h1{
    color: #ffffff;
    margin: 0px;
    font-size: 35px;
    margin-bottom: 0px;
}
#photo-afficheProfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
#photo-afficheProfil img{
    width: 180px;
    max-height: 400px;
    flex-basis:20%;
}

#liste-afficheProfil{
    list-style: none;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    color: #ffffff;
    flex-basis:70%;
}

#liste-afficheProfil div{
    display: inline-block;
}

#liste-afficheProfil li{
    display: flex;
    margin-top: 10px;
    border-bottom: solid 1.5px #ffffff;
}
.borderNone li:last-child{
    border:none !important;
}

.label-afficheProfil{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    flex-basis:50%;
}


.champ-afficheProfil{
    font-size: 22px;
    flex-basis:50%;
}

#boutonModifierProfilContainer {
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}

#boutonModifierProfil{
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline:none;
    border: solid 2px white;
}
#boutonModifierProfil:hover {

    cursor: pointer;
}


#boutonModifierProfil {
    text-decoration: none;
    position: relative;
    overflow: hidden;
}


#boutonModifierProfil:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            120deg,
            transparent,
            rgba(255, 255, 255, 0.28),
            transparent
    );
    transition: all 650ms;
}

#boutonModifierProfil:hover:before {
    left: 100%;
}
/* ------------------- MODIFIER PROFIL ------------------- */
#carteAfficheProfil label {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0px;
}
#carteAfficheProfil input{
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 22px;
}

.erreurModifProfil{
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    list-style: none;
}

/* ------------------- DETAILS SORTIE ------------------- */

.conteneur-AfficheSortie {
    border: solid 3px white;
    width: 800px;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

.liste-AfficheSortie{
    list-style: none;
    display: flex;
    flex-direction: column;

}


.label-AfficheSortie{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    flex-basis: 50%;
}


.champ-AfficheSortie{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    flex-basis: 50%;
}

.description-AfficheSortie {
    width: 600px;
    padding: 10px 10px 10px 10px;
    margin: auto;

}


/* ------------------- INFORMATIONS DU CREATEUR ------------------- */

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}
.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.made-with-love a {
    color: #fff;
    text-decoration: none;
}
.made-with-love a:hover {
    text-decoration: underline;
}


/* ------------------- GEOCODER ------------------- */

#geocoder {
    padding-bottom:10px;
}

/* ------------------- CREERSORTIE-LIEU ------------------- */
.table { border-collapse: collapse; }
.table th, td {
    border-bottom: 1px solid #ddd;
    width: 250px;
    text-align: left;
}