{% extends 'base.html.twig' %}
{% block title %}Menu Admin{% endblock %}
{% block body %}

    <p>MENU ADMIN</p>

    <div>
        <ul>
            <li><a href="{{path('main_aVenir') }}">Inscrire un utilisateur</a></li>
            <li><a href="{{path('main_aVenir') }}">Inserer un fichier d'utilisateurs</a></li>
            <li><a href="{{path('main_aVenir') }}">Gérer les utilisateurs</a></li>
        </ul>
    </div>


{% endblock %}
