{% extends 'base.html.twig' %}

{% block head %}
    <script>
        import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
        import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
    </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

{% endblock %}
{% block title %}Sortir | à venir{% endblock %}
{% block body %}

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
            type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>

    <h1> choisi ton lieu!</h1>
    <div id="geocoder" class="geocoder"></div>
    <div class="map" id="map" style="width: 65%; height: 300px;"></div>



    <script>
        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2hlc3N5ODk4IiwiYSI6ImNrZHFnNmZreTEzeTIycXRhNXQyZ3k5NnEifQ.CphvE_eRmoN-lWCngjOvkw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-79.4512, 43.6568],
            zoom: 13
        });

        var geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        });

        document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
        console.log( document.getElementById('geocoder').innerText);


    </script>





{% endblock %}

    {# L.geoJSON(geojsonFeatureCollection, {
         onEachFeature: onEachFeature,
         pointToLayer: function(feature,latlng){
             let ratIcon;
             return L.marker(latlng, {
                 icon:
                     ratIcon = L.icon({
                         iconUrl: 'http://maptimeboston.github.io/leaflet-intro/rat.gif',
                         iconSize: [40, 30]
                     })

             });
         }
     }).addTo(map);


     function onEachFeature(feature, layer) {
         if (feature.properties && feature.properties.popupContent) {
             layer.bindPopup(feature.properties.popupContent);
         }
     }

 #}






