{% extends 'base.html.twig' %}
{% block title %}Sortie {{ sortie.nom }}{% endblock %}
{% block body %}
        <h1>{{ sortie.nom }}</h1>



    <div id="register_form">

        {{ form_start(sortieForm) }}


        <button type="submit">Valider les modifications</button>

        {{ form_end(sortieForm) }}

    </div>



{% endblock %}