{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ce n'est pas cette page là que vous recherchez.</h1>
    <img src="{{ asset('img/404/kenobi404.jpg') }}" alt="ObiWan Kenobi - erreur 404">

{% endblock %}